body {
  color: rgba(65, 59, 59, 0.938);
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

#header {
  height: 80px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 7px double rgba(4, 39, 17, 0.938);
}
#game_name {
  text-align: center;
  font-size: 70px;
  padding: 20px;
}

.root {
  width: 100vw;
  height: 100vh;
  display: block;
}

#game_space {
  display: flex;
  margin: 50px;
}

#board {
  width: calc(15 * 50px);
  height: calc(15 * 50px);
}

.row {
  display: flex;
  flex-direction: row;
}

.box {
  box-sizing: border-box;
  border: 1px solid rgba(4, 39, 17, 0.938);
  width: 50px;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.box:first-child {
  border-left: 2px solid rgba(4, 39, 17, 0.938);
}

.box:last-child {
  border-right: 2px solid rgba(4, 39, 17, 0.938);
}

.row:first-child .box {
  border-top: 2px solid rgba(4, 39, 17, 0.938);
}

.row:last-child .box {
  border-bottom: 2px solid rgba(4, 39, 17, 0.938);
}

.box.Wx3 {
  background-color: rgba(255, 0, 0, 0.76);
}

.box.Wx2 {
  background-color: rgba(252, 80, 0, 0.384);
}

.box.Lx3 {
  background-color: rgba(0, 119, 255, 0.411);
}

.box.Lx2 {
  background-color: rgba(84, 207, 245, 0.342);
}

.box.START {
  font-size: 14px;
  font-weight: 1000;
  background-color: rgba(247, 142, 142, 0.404);
}

.box.occupied {
  background-color: rgba(222, 184, 135, 0.575);
  cursor: not-allowed;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 70px 0px 70px;
  width: calc(7 * 50);
}

#letters {
  display: flex;
  margin: 20px;
}

.letter {
  cursor: pointer;
  border: 2px solid rgba(4, 39, 17, 0.938);
  width: 45px;
  height: 45px;
  margin: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 25px;
  box-sizing: border-box;
  padding-left: 5px;
  background-color: rgba(222, 184, 135, 0.575);
}

.letter:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.selected {
  background-color: rgba(0, 0, 0, 0.37);
}
.value {
  align-self: flex-end;
  padding: 2px;
  font-size: 12px;
}

#score-names {
  display: flex;
  flex-direction: row;
}

#letter-score-name,
#score-name {
  height: 20px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

#letter-score-name {
  border-top: 2px solid rgba(4, 39, 17, 0.938);
  border-left: 2px solid rgba(4, 39, 17, 0.938);
  border-right: 2px solid rgba(4, 39, 17, 0.938);
  border-bottom: 2px solid rgba(4, 39, 17, 0.938);
}

#score-name {
  border-top: 2px solid rgba(4, 39, 17, 0.938);
  border-right: 2px solid rgba(4, 39, 17, 0.938);
  border-bottom: 2px solid rgba(4, 39, 17, 0.938);
}

#scores {
  display: flex;
  flex-direction: row;
}

#letter_score,
#score {
  height: 40px;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#letter_score {
  border-left: 2px solid rgba(4, 39, 17, 0.938);
  border-right: 2px solid rgba(4, 39, 17, 0.938);
  border-bottom: 2px solid rgba(4, 39, 17, 0.938);
}

#score {
  border-right: 2px solid rgba(4, 39, 17, 0.938);

  border-bottom: 2px solid rgba(4, 39, 17, 0.938);
}
#time {
  border: 2px solid rgba(4, 39, 17, 0.938);
  height: 50px;
  width: 100px;
  margin: 20px;
}

#controls {
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding-left: 80px;
}

#confirm {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: white;
  border: 2px solid rgba(4, 39, 17, 0.938);
  width: 100px;
  height: 60px;
  margin-left: 20px;
}

#confirm:hover {
  animation: shake 0.2s linear 2;
}

@keyframes shake {
  0% {
    transform: rotate(-1deg);
  }
  66% {
    transform: rotate(1deg);
  }
}

#undo {
  border: 2px solid rgba(4, 39, 17, 0.938);
  height: 40px;
  width: 40px;
  font-size: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#undo:hover {
  background-color: rgba(0, 0, 0, 0.404);
  transition-duration: 0.2s;
}
